* {
    box-sizing: border-box;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
    font-weight: bold;
    font-size: 80%;
  }
  
  body {
    min-width: 960px;
    font-family: 'Open Sans', Arial, sans-serif;
  }